.post-wrap {
	padding: 20px;
	border: 1px solid lightgray;
	margin-bottom: 30px;
	background: lightblue;
}

.comment-wrap {
	font-size: 12px;
	margin-bottom: 20xp;
}

.add-post {
	padding: 20px;
}

.input-wrap {
	border: 1px solid lightgray;
	width: 100%;
	font-size: 12px;
	padding: 3px;
	margin-top: 5px;
}
